* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Microsoft YaHei';
  font-size: 16px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul:after {
  content: "";
  clear: both;
  display: block;
}
.layui-layer-btn a {
  font-weight: lighter !important;
}
/*-font-type-*/
/*font size*/
/*font-color*/
/*-background-color-*/
/*-div Size-*/
/*border-radius size*/
body {
  background-color: #e0e0e0;
}
#welcome {
  border: 3px solid #ccc;
  background-color: #ffffff;
  border-radius: 5px;
  width: 600px;
  height: 0;
  line-height: 400px;
  margin: 0 auto;
  font-size: 30px;
  opacity: 0;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  margin-top: 8%;
  transition: height 1s,opacity 2s;
  -moz-transition: height 2s;
  -webkit-transition: height 1s,opacity 2s;
  -o-transition: height 2s,opacity 2s;
}
.show {
  height: 400px !important;
  opacity: 1 !important;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#footer p {
  text-align: center;
}
