<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scau.zxck.dao.admin.UserGroupDao">
    <cache/>

    <resultMap id="userGroupResult" type="UserGroup">
        <result column="user_id" property="userId"></result>
    </resultMap>

    <insert id="add" parameterType="SQLAdapter">
        ${sql}
    </insert>

    <update id="update" parameterType="SQLAdapter">
        ${sql}
    </update>

    <delete id="delete" parameterType="SQLAdapter">
        ${sql}
    </delete>

    <!--这里的resultType需要修改为实际的entity-->
    <select id="find" parameterType="SQLAdapter" resultMap="userGroupResult" >
        ${sql}
    </select>

    <!--这里的resultType需要修改为实际的entity-->
    <select id="list" parameterType="SQLAdapter" resultMap="userGroupResult" >
        ${sql}
    </select>

    <select id="count" parameterType="SQLAdapter" resultType="long" >
        ${sql}
    </select>

    <select id="selectUserGroupByName" parameterType="String" resultMap="userGroupResult">
        SELECT * FROM apt_user_group WHERE apt_user_group.name = #{name};
    </select>

</mapper>