<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scau.zxck.dao.admin.UserMessageDao">
    <cache/>

    <resultMap id="userMessageResult" type="UserMessage">
        <result column="user_id" property="userId"></result>
    </resultMap>

    <insert id="add" parameterType="SQLAdapter">
        ${sql}
    </insert>

    <update id="update" parameterType="SQLAdapter">
        ${sql}
    </update>

    <delete id="delete" parameterType="SQLAdapter">
        ${sql}
    </delete>

    <!--这里的resultType需要修改为实际的entity-->
    <select id="find" parameterType="SQLAdapter" resultMap="userMessageResult" >
        ${sql}
    </select>

    <!--这里的resultType需要修改为实际的entity-->
    <select id="list" parameterType="SQLAdapter" resultMap="userMessageResult" >
        ${sql}
    </select>

    <select id="count" parameterType="SQLAdapter" resultType="long" >
        ${sql}
    </select>

    <select id="selectUserMessageByNickname" parameterType="String" resultMap="userMessageResult">
        SELECT *FROM apt_user_message WHERE apt_user_message.nickname = #{nickname};
    </select>

    <select id="selectUserMessageByRealname" parameterType="String" resultMap="userMessageResult">
        SELECT *FROM apt_user_message WHERE apt_user_message.realname = #{realname};
    </select>

</mapper>