<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>我家菜市后台管理-商品评论管理</title>
        <link rel="stylesheet" href="../../../public/font-awesome-4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/commentsAdmin.css">
    </head>
    <body>
        <div class="wrapper">
            <!--start header-->
            <header>
                <h1>商品评论管理</h1>
            </header>
            <!--end header-->

            <!--start 评论comments-header-->
            <div class="comments-header">
                <div class="goods-degree">
                    <p>好评度</p>
                    <span id="degree">99%</span>
                </div>
                <div class="buyer-impression">
                    <p>买家印象</p>
                    <ul>
                        <li>色泽红润（99）</li>
                        <li>色泽红润（99）</li>
                        <li>色泽红润（99）</li>
                        <li>色泽红润（99）</li>
                        <li>色泽红润（99）</li>
                        <li>色泽红润（99）</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <!--end 评论comments-header-->

            <!--返回按钮-->
            <a class="back-btn"><i class="fa fa-reply"></i></a>

            <!--start replyComments-->
            <div class="reply-comments">
                <!--start 评论导航-->
                <ul class="comments-nav">
                    <li class="on"><b class="nowNav">全部评论</b>(<b>999</b>)</li>
                    <li><b class="nowNav">全部评论</b>(<b>999</b>)</li>
                    <li><b class="nowNav">全部评论</b>(<b>999</b>)</li>
                    <li><b class="nowNav">全部评论</b>(<b>999</b>)</li>
                    <li><b class="nowNav">全部评论</b>(<b>999</b>)</li>
                </ul>
                <!--end 评论导航-->

                <!--start 评论详细列表-->
                <ul class="comments-list">
                    <!--start 评论列表-->
                    <li class="buyer-comments" id="">
                        <!--start 评论者信息-->
                        <div class="buyer">
                            <img src="../../images/goods-img.jpg" alt="用户头像">
                            <p class="author">大叔控好6</p>
                            <p class="rank">钻石会员</p>
                        </div>
                        <div class="comments-detail">
                            <p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </p>
                            <div class="comments">
                                <p>不想改那个页面先了 想现在开始今晚撸完评论管理的样式排版布局不想改那个页面先了 想现在开始今晚撸完评论管理的样式排版布局</p>
                            </div>
                            <div class="time">
                                <span>收货后<em>2</em>天后评论</span>
                                <span>2016 - 04 -05</span>
                                <span class="reply-btn">回复 <i class="fa fa-angle-down"></i></span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="buyer-comments">
                        <div class="buyer">
                            <img src="../../images/goods-img.jpg" alt="用户头像">
                            <p class="author">大叔控好6</p>
                            <p class="rank">钻石会员</p>
                        </div>
                        <div class="comments-detail">
                            <p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </p>
                            <div class="comments">
                                <div class="images">
                                    <img src="../../images/goods-img.jpg" alt="评论图" />
                                    <img src="../../images/goods-img.jpg" alt="评论图" />
                                    <img src="../../images/goods-img.jpg" alt="评论图" />
                                </div>
                                <p>不想改那个页面先了 想现在开始今晚撸完评论管理的样式排版布局不想改那个页面先了 想现在开始今晚撸完评论管理的样式排版布局</p>
                            </div>
                            <div class="reply-content">
                                <p>店家回复: <span>好看，质量也不错，宽松版穿着舒服，最开心的是活动买的划算啊，物流也快的不行</span> </p>
                            </div>
                            <div class="time">
                                <span>收货后<em>2</em>天后评论</span>
                                <span>2016 - 04 -05</span>
                                <span class="reply-btn">回复 <i class="fa fa-angle-down"></i></span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="buyer-comments">
                        <div class="buyer">
                            <img src="../../images/goods-img.jpg" alt="用户头像">
                            <p class="author">大叔控好6</p>
                            <p class="rank">钻石会员</p>
                        </div>
                        <div class="comments-detail">
                            <p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </p>
                            <div class="comments">
                                <div class="images">
                                    <img src="../../images/goods-img.jpg" alt="评论图" />
                                    <img src="../../images/goods-img.jpg" alt="评论图" />
                                    <img src="../../images/goods-img.jpg" alt="评论图" />
                                </div>
                                <p>不想改那个页面先了 想现在开始今晚撸完评论管理的样式排版布局不想改那个页面先了 想现在开始今晚撸完评论管理的样式排版布局</p>
                            </div>
                            <div class="time">
                                <span>收货后<em>2</em>天后评论</span>
                                <span>2016 - 04 -05</span>
                                <span class="reply-btn">回复 <i class="fa fa-angle-down"></i></span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="buyer-comments">
                        <div class="buyer">
                            <img src="../../images/goods-img.jpg" alt="用户头像">
                            <p class="author">大叔控好6</p>
                            <p class="rank">钻石会员</p>
                        </div>
                        <div class="comments-detail">
                            <p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </p>
                            <div class="comments">
                                <div class="images">
                                    <img src="../../images/goods-img.jpg" alt="评论图" />
                                    <img src="../../images/goods-img.jpg" alt="评论图" />
                                    <img src="../../images/goods-img.jpg" alt="评论图" />
                                </div>
                                <p>不想改那个页面先了 想现在开始今晚撸完评论管理的样式排版布局不想改那个页面先了 想现在开始今晚撸完评论管理的样式排版布局</p>
                            </div>
                            <div class="time">
                                <span>收货后<em>2</em>天后评论</span>
                                <span>2016 - 04 -05</span>
                                <span class="reply-btn">回复 <i class="fa fa-angle-down"></i></span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
                <!--end 评论详细列表-->
            </div>
            <!--end replyComments-->

            <!--start 分页-->
            <div id="pagination">
                <span class"totalNum">共<em id="totalNum">99</em>条</span>
                <span class="pageNum">
                    <em id="nowPage">1</em>/<em id="totalPage">8</em>
                </span>
                <span id="prevNext">
                    <span id="prevBtn" class="prev-next-btn">＜</span>
                    <span id="nextBtn" class="prev-next-btn">＞</span>
                </span>
                <span class="goto">
                    到第 <input type="text" id="gotoPage"> 页
                    <span id="gotoBtn">GO</span>
                </span><!--需要限制输入只能为>0的数字-->
            </div>
            <!--end 分页-->
        </div>
    </body>
    <script src="../../../public/js/jquery-2.1.3.min.js"></script>
    <script src="../../../public/layer/layer.js"></script>
    <script src="../../js/commentsAdmin.js"></script>
</html>
