<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我家菜市后台管理-详细消息</title>
	<link rel="stylesheet" href="../../../public/font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../css/messageContent.css">
</head>
<body>
	<div class="wrapper">
		<div class="messageContent">
			<div class="header">
				<p class="title">这是一条优惠信息</p>
				<p class="time">2016-4-22 07:21:10</p>
			</div>
			<div class="content">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis lectus ligula, nec feugiat leo ultrices eu. Mauris et lorem varius, scelerisque nunc in, commodo leo. Nunc non molestie nunc, fermentum auctor lorem. Vivamus ornare condimentum efficitur. Nunc eu urna libero. Pellentesque ullamcorper erat pulvinar maximus blandit. Praesent vitae accumsan mauris. Nullam id lobortis justo. Sed fringilla leo sed tristique consectetur.</p>
				<p>Aliquam eget pellentesque urna. Proin malesuada, ex at posuere porta, est velit auctor augue, in venenatis orci tellus eu turpis. Pellentesque dui eros, dapibus in viverra ut, ultrices at nisl. In finibus commodo erat, eu condimentum eros imperdiet ac. Fusce at nisl et dui blandit vehicula. Quisque laoreet velit risus, vel finibus leo vestibulum nec. Suspendisse commodo massa ut sem posuere auctor. Ut tempus laoreet metus ut egestas. Donec quis nunc nisi. Duis nec ornare metus, nec hendrerit purus. Proin enim enim, efficitur eu viverra a, semper non quam.</p>
			</div>
		</div>
		<!-- messageContent 结束 -->
		<div class="object">
			<div class="header">
				<p>发送对象</p>
				<a id="toggleShow">更多<i class="fa fa-angle-down"></i></a>
			</div>
			<div class="objectList">
				<ul class="objectListUl">
					<li>张三</li>
					<li>张三</li>
					<li>张三</li>
					<li>张三</li>
					<li>张三</li>
					<li>张三</li>
					<li>张三</li>
					<li>张三</li>
					<li>张三</li>
					<li>张三</li>
					<li>张三</li>
					<li>张三</li>
				</ul>
			</div>
		</div>
		<!-- Object 结束 -->
	</div>

	<script type="text/javascript" src="../../../public/js/jquery.js"></script>
	<script type="text/javascript" src="../../js/messageContent.js"></script>
</body>
</html>