<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我家菜市后台管理-已发布消息</title>
	<link rel="stylesheet" href="../../../public/font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../css/releasedMessages.css">
</head>
<body>
	<div class="header">
		<div class="searchBox">
			<input type="text" id="search">
			<input type="button" class="searchBtn">
		</div>
		<div class="nav-opt-btn">
			<a class="navBtn select-nav">全选</a>
			<a class="navBtn remove-all-nav">取消全选</a>
			<a class="navBtn cancel-nav">删除</a>
		</div>	
	</div>
	<!-- header 结束 -->
	<div class="content">
		<div class="messageList">
			<ul>
				<li>
					<div class="messageHeader">
						<input type="checkbox" name="checkbox" value="checkbox" />
						<p>这是一条优惠信息</p>
						<a class="cancel">删除</a>
					</div>
					<div class="messageContent">
							<p class="summary">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet euismod nunc. Maecenas venenatis, nulla sed finibus ullamcorper, purus arcu aliquet elit, in ullamcorper neque ante ut purus. Duis luctus suscipit malesuada. Integer non dui pharetra, sagittis tellus eget, aliquet tortor. 
							</p>
							<div class="releasedTime">2016-4-22 07:21:10</div>
					</div>
				</li>
				<li>
					<div class="messageHeader">
						<input type="checkbox" name="checkbox" value="checkbox" />
						<p>这是一条优惠信息</p>
						<a class="cancel">删除</a>
					</div>
					<div class="messageContent">
							<p class="summary">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet euismod nunc. Maecenas venenatis, nulla sed finibus ullamcorper, purus arcu aliquet elit, in ullamcorper neque ante ut purus. Duis luctus suscipit malesuada. Integer non dui pharetra, sagittis tellus eget, aliquet tortor. 
							</p>
							<div class="releasedTime">2016-4-22 07:21:10</div>
					</div>
				</li>
				<li>
					<div class="messageHeader">
						<input type="checkbox" name="checkbox" value="checkbox" />
						<p>这是一条优惠信息</p>
						<a class="cancel">删除</a>
					</div>
					<div class="messageContent">
							<p class="summary">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet euismod nunc. Maecenas venenatis, nulla sed finibus ullamcorper, purus arcu aliquet elit, in ullamcorper neque ante ut purus. Duis luctus suscipit malesuada. Integer non dui pharetra, sagittis tellus eget, aliquet tortor. 
							</p>
							<div class="releasedTime">2016-4-22 07:21:10</div>
					</div>
				</li>
				<li>
					<div class="messageHeader">
						<input type="checkbox" name="checkbox" value="checkbox" />
						<p>这是一条优惠信息</p>
						<a class="cancel">删除</a>
					</div>
					<div class="messageContent">
							<p class="summary">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet euismod nunc. Maecenas venenatis, nulla sed finibus ullamcorper, purus arcu aliquet elit, in ullamcorper neque ante ut purus. Duis luctus suscipit malesuada. Integer non dui pharetra, sagittis tellus eget, aliquet tortor. 
							</p>
							<div class="releasedTime">2016-4-22 07:21:10</div>
					</div>
				</li>
				<li>
					<div class="messageHeader">
						<input type="checkbox" name="checkbox" value="checkbox" />
						<p>这是一条优惠信息</p>
						<a class="cancel">删除</a>
					</div>
					<div class="messageContent">
							<p class="summary">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet euismod nunc. Maecenas venenatis, nulla sed finibus ullamcorper, purus arcu aliquet elit, in ullamcorper neque ante ut purus. Duis luctus suscipit malesuada. Integer non dui pharetra, sagittis tellus eget, aliquet tortor. 
							</p>
							<div class="releasedTime">2016-4-22 07:21:10</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- messageList 结束 -->
		<div class="footer">
			<div id="pagination">
	            <span class"totalnum"="">共<em id="totalNum">99</em>条</span>
	            <span class="pageNum">
	                <em id="nowPage">1</em>/<em id="totalPage">8</em>
	            </span>
	            <span id="prevNext">
	                <span id="prevBtn" class="prev-next-btn">＜</span>
	                <span id="nextBtn" class="prev-next-btn">＞</span>
	            </span>
	            <span class="goto">
	                到第 <input type="text" id="gotoPage"> 页
	                <span id="gotoBtn">GO</span>
	                </span><!--需要限制输入只能为>0的数字-->
	        </div>
        	<!-- pagination 结束 -->
		</div>
		<!-- footer 结束 -->
	</div>
	<!-- content 结束 -->

	<script type="text/javascript" src="../../../public/js/jquery.js"></script>
	<script type="text/javascript" src="../../js/releasedMessages.js"></script>
</body>
</html>